body {

    background-color: #081226;

    color: white;

    font-family: Arial;

    margin: 0;
}

.header {

    background-color: #0f172a;

    padding: 20px;

    text-align: center;

    font-size: 28px;

    font-weight: bold;
}

.details-card {

    background-color: #1e293b;

    margin: 20px;

    padding: 20px;

    border-radius: 10px;
}

table {

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;
}

th, td {

    border: 1px solid #475569;

    padding: 10px;

    text-align: left;
}

th {

    background-color: #334155;
}
